.sprite-accept{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-add{ background-position: 0 -66px; width: 16px; height: 16px; } 
.sprite-arrow_down{ background-position: 0 -132px; width: 16px; height: 16px; } 
.sprite-arrow_left{ background-position: 0 -198px; width: 16px; height: 16px; } 
.sprite-arrow_out{ background-position: 0 -264px; width: 16px; height: 16px; } 
.sprite-arrow_refresh{ background-position: 0 -330px; width: 16px; height: 16px; } 
.sprite-arrow_right{ background-position: 0 -396px; width: 16px; height: 16px; } 
.sprite-arrow_rotate_anticlockwise{ background-position: 0 -462px; width: 16px; height: 16px; } 
.sprite-arrow_rotate_clockwise{ background-position: 0 -528px; width: 16px; height: 16px; } 
.sprite-arrow_up{ background-position: 0 -594px; width: 16px; height: 16px; } 
.sprite-bin{ background-position: 0 -660px; width: 16px; height: 16px; } 
.sprite-delete{ background-position: 0 -726px; width: 16px; height: 16px; } 
.sprite-disk{ background-position: 0 -792px; width: 16px; height: 16px; } 
.sprite-error{ background-position: 0 -858px; width: 16px; height: 16px; } 
.sprite-help{ background-position: 0 -924px; width: 16px; height: 16px; } 
.sprite-link_go{ background-position: 0 -990px; width: 16px; height: 16px; } 
.sprite-lock_go{ background-position: 0 -1056px; width: 16px; height: 16px; } 
.sprite-lock_open{ background-position: 0 -1122px; width: 16px; height: 16px; } 
.sprite-magnifier_zoom_in{ background-position: 0 -1188px; width: 16px; height: 16px; } 
.sprite-magnifier_zoom_out{ background-position: 0 -1254px; width: 16px; height: 16px; } 
.sprite-map{ background-position: 0 -1320px; width: 16px; height: 16px; } 
.sprite-map_edit{ background-position: 0 -1386px; width: 16px; height: 16px; } 
.sprite-map_go{ background-position: 0 -1452px; width: 16px; height: 16px; } 
.sprite-paintcan{ background-position: 0 -1518px; width: 16px; height: 16px; } 
.sprite-pencil{ background-position: 0 -1584px; width: 16px; height: 16px; } 
.sprite-picture_save{ background-position: 0 -1650px; width: 16px; height: 16px; } 
.sprite-shape_handles{ background-position: 0 -1716px; width: 16px; height: 16px; } 
.sprite-user{ background-position: 0 -1782px; width: 16px; height: 16px; } 
