html, body{border:none;}
body{font-family:Verdana,Arial,Helvetica,sans-serif;margin:0px;}
a{color:#555555;}
#error-message{font-weight:normal;margin:0px;padding:15px;}
.sprites{background-image:url("../../images/icon_sprites.png");background-color:transparent;background-repeat:no-repeat;}
.hidden-message{display:none;}
#header,#tabs{min-width:1125px;}
#header{color:#BABABA;font-size:0.8em;position:relative;z-index:100;top:0;height:30px;line-height:30px;width:100%;box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);background-color: #333;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#111));background-image: -moz-linear-gradient(#333, #111); /* FF3.6 */}
#header a{color:#BABABA;text-decoration:none;}
#header a:hover{color:#FFF;}
#site-title{position:absolute;left:0px;width:180px;margin:0 0.25em;padding:0px;}
#site-title img{vertical-align:top;}
#site-title span{display:none;}
#site-tagline{position:absolute;left:225px;font-style:italic;}
#site-logout{display:none;position:absolute;right:0px;}
#site-logout span.site-logout{font-style:normal;}
#site-logout a.site-logout{padding:0px 5px 0px 20px;background-position:0 -629px;}
#site-logout span.site-login{font-style:normal;}
#site-logout a.site-login{padding:0px 5px 0px 20px;background-position:0 -597px;}
#site-languages{display:none;position:absolute;right:300px;}
#site-languages ul{list-style:none;margin:0px;padding:0px;}
#site-languages li{list-style:none;display:inline;margin:0px 5px;padding:0px;}
#initial-message{width:180px;background-repeat:no-repeat !important;background-position:10px 10px !important;padding-left:35px !important;padding:.5em 1em .5em 35px;margin:40px 20px;_text-indent:25px;background-image:url("../../images/throbber.gif") !important;-moz-box-shadow:0px 5px 5px #AAAAAA;-webkit-box-shadow:#AAAAAA 0px 5px 5px;box-shadow:#AAAAAA 0px 5px 5px;}
#wrapper{position:absolute;width:100%;top:25px;}
#tabs{min-height:500px;display:none;border:0px;}
ul.navigation{border-top:0px;border-left:0px;border-right:0px;border-radius:0px;}
ul.navigation li.ui-state-default{margin-top:0.75em;}
ul.navigation li a.map-mymaps{padding-left:20px;margin-left:5px;background-position:0 -750px;}
ul.navigation li a.map-users{padding-left:20px;margin-left:5px;background-position:0 -910px;}
ul.navigation li a.map-myhelp{padding-left:20px;margin-left:5px;background-position:0 -525px;}
li.map-extras{float:right !important;}
#mapSave, #mapExport{display:none;}
#mapSave p, #mapExport p, #mapEmbed p{font-size:0.8em;margin:5px 0px;}
#mapSave p input, #mapExport p input, #mapEmbed p input{font-size:1em;}
.ui-dialog-titlebar .ui-dialog-title{background-color: transparent;background-image: url("../../images/icon_sprites.png");background-repeat: no-repeat;padding-left:20px;}
.ui-dialog-titlebar #ui-dialog-title-mapSave{background-position: 0 -445px;}
.ui-dialog-titlebar #ui-dialog-title-mapEmbed{background-position:0 -563px;}
.ui-dialog-titlebar #ui-dialog-title-mapExport{background-position: 0 -785px;}
.ui-dialog-titlebar #ui-dialog-title-badRecordsViewer{background-position:0 -478px;}
.ui-dialog-titlebar #ui-dialog-title-mapper-message{background-position:0 -478px;}
.ui-dialog-titlebar #ui-dialog-title-mapper-message-delete{background-position:0 -316px;}
.ui-dialog-titlebar #ui-dialog-title-mapper-message-help{background-position:0 -530px;}
#mapper-message{display:none;font-size:0.8em;}
#mapper-message span.indent{display:block;margin-left:40px;}
.mapper-loading-message{background-repeat:no-repeat !important;background-position:10px 10px !important;background-color:#FFF;background-image:url("../../images/throbber.gif") !important;-moz-box-shadow:0px 5px 5px #AAAAAA;-webkit-box-shadow:#AAAAAA 0px 5px 5px;box-shadow:#AAAAAA 0px 5px 5px;padding-left:35px !important;padding:.5em 1em .5em 35px;_text-indent:25px;position:absolute;top:10px;right:10px;z-index:1000;}
label{margin-right:0.2em;}
fieldset{border:1px solid #E0E0E0;font-size:0.75em;margin-top:10px;}
.required{color:#FF0000;font-weight:bold;}
#controls{width:780px;margin-left:20px;}
button{background-color:#E7E7E7;color:#565656;border:1px solid #abb6bf;border-top:1px solid #EEE;border-left:1px solid #EEE;padding:5px 5px 5px 20px;margin:0 0.2em;cursor:pointer;font-size:0.7em !important;}
button:hover{color:#c7c7c7;background-color:#4f4f4f;border:1px solid #585858;}
button:active{color:#CCC !important;}
button.positive{color:#4c8318;}
button.positive:hover{background-color:#a9bea3 !important;color:#396212;}
button.positive:active{background-color:#3d5b40 !important;}
button.negative{color:#d12f19;}
button.negative:hover{background-color:#eca8a8 !important;color:#d12f19;}
button.negative:active{background-color:#782c21 !important;}
.submitForm{background-position:3px 6px;}
.bulkdownload{background-position:3px -445px;}
.clear{background-position:3px -410px;}
.addmore{background-position:3px -26px;}
.removemore{display:none;background-position:3px -410px;position:absolute;right:6px;top:6px;z-index:10;background-color:#FFF}
div#okButton{margin:0px auto;width:100px;text-align:middle;margin-top:10px;}
button[disabled], button[disabled]:hover, button[disabled]:active{color:#666 !important;background-color:#CCC !important;border:1px solid #EEE;cursor:wait;}
.hidden, #blankRow, .hiddenControls, .newRow td div{display:none;}
.fieldSets{margin-top:10px !important}
.addFieldset{margin-left:20px;margin-top:20px;}
.fieldset-points, .fieldset-regions{position:relative;width:672px !important;}
.fieldset-taxon{margin-bottom:10px;}
.fieldset-extras{margin:10px 0px;}
.fieldset-title{font-size:0.85em;}
div.grippie{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background-position:50% -510px;background-color:#EEEEEE;border-color:#DDDDDD;border-style:solid;border-width:0pt 1px 1px;cursor:s-resize;height:9px;overflow:hidden;}
.resizable-textarea{width:99%;}
.resizable-textarea textarea{display:block;margin-bottom:0;width:100%;}
.form-item .description{font-size:0.75em;}
div.panel{padding:10px;border:1px solid #AAAAAA;background-color:#E9E9E9;width:650px;margin-bottom:5px;}
div.panel p{font-size:0.75em;}
div.panel a.help{background-position:0 -533px;padding-left:20px;}
.submit{text-align:left;margin-top:15px;margin-left:20px;}
div.header{border-bottom:1px solid #AAA;width:50%;margin-top:20px;}
div.header h2{border-bottom:2px solid #BBB;margin:0px;padding:3px 0px;width:40%;font-size:20px;}
#map-about p,#map-about dl{font-size:0.75em;}
#map-about p.citation{text-indent:-2em;padding-left:2em;}
#map-about dl dt.update{font-weight:bold;}
#map-about dl dd{margin:0 0 10px 25px;}
#map-about img{border:0px}
#map-preview{padding:1em 0.3em;background-color:#FFF;height:460px;}
#map-preview p{font-size:0.75em;}
#mapWrapper{position:relative;height:455px;width:100%;}
#mapWrapper h2{text-align:middle;font-size:0.75em;margin:10px 0 5px;padding:0;}
#actionsBar{margin:0;padding:0;position:absolute;top:0;left:0;width:810px;outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;font-weight:normal;height:1.4em;}
#actionsBar a{text-decoration:none;}
#actionsBar ul.dropdown{list-style:none;margin:0;padding:0;}
#actionsBar ul.dropdown li{list-style:none;font-size:small;float:left;zoom:1;z-index:1001;border:1px solid transparent;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
#actionsBar ul.dropdown li.hover, #actionsBar ul.dropdown li:hover{position:relative;}
#actionsBar ul.dropdown li a{display:block;margin:3px 4px;}
#actionsBar ul.dropdown li a.tooltip{width:16px;height:16px;}
#actionsBar ul.dropdown li a.toolsZoomIn{background-position:0 -661px;}
#actionsBar ul.dropdown li a.toolsZoomOut{background-position:0 -693px;}
#actionsBar ul.dropdown li a.rotateAnticlockwise{background-position:0 -224px;}
#actionsBar ul.dropdown li a.rotateClockwise{background-position:0 -256px;}
#actionsBar ul.dropdown li a.toolsCrop{background-position:0 -885px;}
#actionsBar ul.dropdown li a.toolsQuery{background-position:0 -821px;}
#actionsBar ul.dropdown li a.toolsDraw{background-position:0 -853px;}
#actionsBar ul.dropdown li a.toolsRefresh{background-position:0 -160px;}
#actionsBar ul.dropdown li a.toolsRebuild{background-position:0 -128px;}
#actionsBar ul.dropdown li ul{visibility:hidden;position:absolute;top:100%;left:0;width:50px;margin:0;padding:0;}
#actionsBar ul.dropdown li ul li{float:none;z-index:1002;}
#actionsBar ul.dropdown li ul li a{width:100%;display:block;text-decoration:none;background:none;}
#actionsBar ul.sub_menu{border-top:none;border-right:1px solid #AAA;border-bottom:1px solid #AAA;border-left:1px solid #AAA;border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;}
#actionsBar ul.sub_menu li{border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
#actionsBar ul.sub_menu li.ui-state-default{background:#CCC}
#actionsBar ul.sub_menu li.ui-state-hover{background:none;background:#E2E2E2;}
#actionsBar ul.sub_menu li a{margin:0px !important;}
#actionsBar ul li a img{border:0 none;height:16px;margin:2px;width:16px;}
.customJzoom .jcrop-vline, .customJzoom .jcrop-hline{background-color:#FF0000;}
.jcrop-coord{position:absolute;border:1px solid #AAA;background-color:#E0E0E0;opacity:0.6;filter:alpha(opacity=60);padding:3px;z-index:500;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;width:100px;font-size:0.7em !important;}
#jcrop-coord-ul{left:9px;top:9px;text-align:left;}
#jcrop-coord-lr{right:9px;bottom:9px;text-align:right;}
#actionsBar #mapTitle{margin:0 0 0 30px;padding:0;font-style:italic;font-size:1em;display:inline;line-height:27px;}
#actionsBar #map-saveDialog{font-size:0.75em;display:inline;line-height:27px;position:absolute;right:0px;}
#actionsBar #map-saveDialog a.map-saveItem{padding:0px 5px 0px 20px;}
#actionsBar #map-saveDialog a.map-download{background-position:0 -789px;width:16px;height:16px;}
#actionsBar #map-saveDialog a.map-save{background-position:0 -448px;width:16px;height:16px;}
#actionsBar #map-saveDialog a.map-embed{display:none;background-position:0 -565px;width:16px;height:16px;}
#map{position:absolute;top:40px;left:0;width:800px;}
#mapImage{position:relative;}
#mapImage #mapOutputImage{background-color:#FFF;}
#mapControlsTransparency{position:absolute;left:0px;top:0px;width:40px;height:40px;opacity:0.65;-moz-opacity:0.65;filter:alpha(opacity=65);background-color:#FFF;}
#mapControls{position:absolute;width:60px;height:60px;background-color:transparent;z-index:1000;top:5px;left:5px}
#mapControls .controls{position:absolute;}
#mapControls .sprites{width:16px;height:16px;}
#mapControls .up{top:10px;left:22px;background-position:0 -288px;}
#mapControls .down{bottom:10px;left:22px;background-position:0 -64px;}
#mapControls .right{top:22px;right:10px;background-position:0 -192px;}
#mapControls .left{top:22px;left:10px;background-position:0 -96px;}
#mapControls .viewport{height:60px;width:60px;position:relative;margin:0 auto;overflow:hidden;}
#mapControls .overview{position: absolute; width:58px;list-style:none;margin:0;padding:0;left:0;top:0;}
#mapControls .overview li{height:60px;width:60px;float:left;position:relative;}
#mapControls .overlay{background-repeat:no-repeat;background-position:0 0;position:absolute;left:0;top:0;height:60px;width:60px;}
#mapControls .thumb{cursor:pointer;width:12px;height:12px;position:absolute;cursor:pointer;}
#mapControls .dot{display:none;}
#mapControls .dot span {display: none;}
#badRecordsWarning{display:none;font-size:0.5em;font-weight:bold;position:absolute;top:0px;right:0px;color:#FF0000;height:27px;line-height:27px;text-transform:uppercase;width:155px;z-index:100;background-color:#FFF;opacity:0.9;filter:alpha(opacity=90);padding-left:5px;}
#badRecordsWarning a.toolsBadRecords{background-position:0 -481px;padding:2px 0px 2px 20px;height:27px;line-height:27px;text-decoration:none;color:#FF0000;}
#badRecords{font-size:0.75em;}
#mapOutput{position:relative;}
#mapOutput svg{position:absolute;top:0;left:0;}
#mapScale{text-align:right;}
#mapTools{position:absolute;top:0px;left:820px;right:0px;min-height:430px;}
#mapTools #graticules-selection{padding:0px;margin-left:20px;}
#mapTools div{padding:5px;}
#mapTools .ui-tabs-nav{border-left:0 none;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-right:0px none;border-top:0px none;}
#mapTools div ul{text-align:left;margin:0 0 10px;padding:0px;}
#mapTools ul li{list-style-image:none;list-style-position:outside;list-style-type:none;font-size:0.75em;}
#mapTools ul.columns li{float:left;width:140px;line-height:1.5em;}
#mapTools label{font-size:1.0em !important;}
#mapTools #projection{font-size:0.8em !important;}
#mapTools p{font-size:0.5em;}
#mapLegend p{margin:0px;padding:0px;font-size:0.65em;}
#mapExport #mapCropMessage{display:none;color:red;background-position:0 -478px;padding:0px 0px 10px 20px;}
.download-message{display:none;background-repeat:no-repeat !important;background-position:10px 10px !important;padding-left:35px !important;padding:.5em 1em .5em 35px;_text-indent:25px;background-image:url("../../images/throbber.gif") !important;}
.usermaps-loading,.userdata-loading{position:relative;}
#map-mymaps table{background:none repeat scroll 0 0 #E6E6E6;border:1px solid gray;border-collapse:collapse;width:90%;color:#555555;}
#map-mymaps table thead tr{height:1.75em;}
#map-mymaps table thead td{background-color:#E9E9E9;font-weight:normal;text-align:center;}
#map-mymaps table thead td.left-align{text-align:left;padding-left:20px;}
#map-mymaps table thead td a.toolsRefresh{display:inline-block;height:16px;width:16px;margin-left:5px;background-position: 0 -160px;}
#map-mymaps table tr{border:1px solid #AAAAAA;}
#map-mymaps table tr.odd{background:none repeat scroll 0 0 #FFFFFF;}
#map-mymaps table td.actions{width:120px;}
#map-mymaps table td.actions a{height:20px;line-height:20px;padding-left:20px;margin-left:10px;}
#map-mymaps table td.actions a.map-delete{background-position:0 -317px;}
#map-mymaps table td.actions a.map-load{background-position:0 -754px;}
#map-mymaps table td.download{width:25px;text-align:center;}
#map-mymaps table td input{vertical-align:top;}
#map-mymaps #usermaps fieldset{margin-top:10px;font-size:0.8em;width:20%;}
#map-mymaps #janrainEngageEmbed {margin-top:10px;}
#map-mymaps #janrainEngageEmbed div{margin:0px;}
#map-users table{background:none repeat scroll 0 0 #E6E6E6;border:1px solid gray;border-collapse:collapse;width:90%;color:#555555;}
#map-users table thead tr{height:1.75em;}
#map-users table thead td{background-color:#E9E9E9;font-weight:normal;text-align:center;}
#map-users table thead td.left-align{text-align:left;padding-left:20px;}
#map-users table thead td a.toolsRefresh{display:inline-block;height:16px;width:16px;margin-left:5px;background-position: 0 -160px;}
#map-users table tr{border:1px solid #AAAAAA;}
#map-users table tr.odd{background:none repeat scroll 0 0 #FFFFFF;}
#map-users table tr td.usermaps-center{text-align:center;}
#map-users table td.actions{width:120px;}
#map-users table td.actions a{height:20px;line-height:20px;padding-left:20px;margin-left:10px;}
#map-users table td.actions a.user-delete{background-position:0 -317px;}
#map-api #general-base{margin-top:20px;}
#map-api p{font-size:0.75em;}
#map-api dl{font-size:0.75em;}
#map-api dl dt{font-weight:bold;}
#map-api dl dd{margin-bottom:1.5em;}
#map-chat{margin:10px;}
#map-help h3{font-size:0.75em;}
#map-help p{font-size:0.75em;}
#map-help dl{font-size:0.75em;}
#map-help dl dt{float:left;margin-right:5px;line-height:20px;}
#map-help dl dt,#map-help dl dd{line-height:20px;}
#map-help dl.toolbar dt{padding-left:24px;}
#map-help dl.toolbar dt.toolsZoomIn{background-position:0 -658px;}
#map-help dl.toolbar dt.toolsZoomOut{background-position:0 -690px;}
#map-help dl.toolbar dt.rotateAnticlockwise{background-position:0 -221px;}
#map-help dl.toolbar dt.rotateClockwise{background-position:0 -253px;}
#map-help dl.toolbar dt.toolsCrop{background-position:0 -882px;}
#map-help dl.toolbar dt.toolsQuery{background-position:0 -819px;}
#map-help dl.toolbar dt.toolsDraw{background-position:0 -850px;}
#map-help dl.toolbar dt.toolsRefresh{background-position:0 -157px;}
#map-help dl.toolbar dt.toolsRebuild{background-position:0 -125px;}
#map-help dl.toolbar dt.toolsSave{background-position:0 -448px;}
#map-help dl.toolbar dt.toolsEmbed{background-position: 0 -565px;}
#map-help dl.toolbar dt.toolsDownload{background-position:0 -786px;}
#map-help #example-data{height:220px;}
#map-help #example-data img{vertical-align:middle;margin-right:20px;}
#map-help table{background:none repeat scroll 0 0 #E6E6E6;border:1px solid gray;border-collapse:collapse;width:90%;color:#555555;}
#map-help table thead tr{height:1.75em;}
#map-help table thead td{background-color:#E9E9E9;font-weight:normal;text-align:left;}
#map-help table thead td.title{width:35%;padding-left:20px;}
#map-help table thead td.code{width:45px;}
#map-help table thead td.example{width:60px;}
#map-help table tr{border:1px solid #AAAAAA;}
#map-help table tr.odd{background:none repeat scroll 0 0 #FFFFFF;}
.ui-dialog-titlebar-close{display:none !important;}

.colorpicker{background:url("../../images/colorpicker_sprites.png") no-repeat top left;}
.colorpicker_background {width:356px;height:176px;overflow:hidden;position:absolute;background-position:0 0;font-family:Arial, Helvetica, sans-serif;display:none;z-index:100;}
.colorpicker_color {width:150px;height:150px;left:14px;top:13px;position:absolute;background:#f00;overflow:hidden;cursor:crosshair;}
.colorpicker_color div {position:absolute;top:0;left:0;width:150px;height:150px;background-position:0 -727px;}
.colorpicker_color div div {position: absolute;top:0;left:0;width:11px;height:11px;overflow:hidden;background-position:0 -1275px;margin:-5px 0 0 -5px;}
.colorpicker_hue {position:absolute;top:13px;left:171px;width:35px;height:150px;cursor:n-resize;}
.colorpicker_hue div {position:absolute;width:35px;height:9px;overflow:hidden;background-position:0 -668px;margin:-4px 0 0 0;left:0px;}
.colorpicker_new_color {position:absolute;width:60px;height:30px;left:213px;top:13px;background:#f00;}
.colorpicker_current_color {position:absolute;width:60px;height:30px;left:283px;top:13px;background:#f00;}
.colorpicker input {background:none;background-color:transparent;border:1px solid transparent;position:absolute;font-size:10px;font-family:Arial, Helvetica, sans-serif;color:#898989;top:4px;right:11px;text-align:right;margin:0;padding:0;height:11px;}
.colorpicker_hex {position:absolute;width:72px;height:22px;background-position:0 -226px;left:212px;top:142px;}
.colorpicker_hex.colorpicker_focus{background-position:0 -248px;}
.colorpicker_hex input {right: 6px;}
.colorpicker_field {height:22px;width:62px;background-position:top;position:absolute;}
.colorpicker_field span {position:absolute;width:12px;height:22px;overflow:hidden;top:0;right:0;cursor:n-resize;}
.colorpicker_rgb_r {background-position:0 -1159px;width:62px;height:22px;top:52px;left:212px;}
.colorpicker_rgb_r.colorpicker_focus {background-position:0 -1181px;}
.colorpicker_rgb_r.colorpicker_slider {background-position:0 -1203px;}
.colorpicker_rgb_g {background:url("../../images/colorpicker_sprites.png") no-repeat top left;background-position:0 -1043px;width:62px;height:22px;top:82px;left:212px;}
.colorpicker_rgb_g.colorpicker_focus {background-position:0 -1065px;}
.colorpicker_rgb_g.colorpicker_slider {background-position:0 -1087px;}
.colorpicker_rgb_b {background:url("../../images/colorpicker_sprites.png") no-repeat top left;background-position:0 -927px;width:62px;height:22px;top:112px;left:212px;}
.colorpicker_rgb_b.colorpicker_focus {background-position:0 -949px;}
.colorpicker_rgb_b.colorpicker_slider {background-position:0 -971px;}
.colorpicker_hsb_h {background:url("../../images/colorpicker_sprites.png") no-repeat top left;background-position:0 -436px;width:62px;height:22px;top:52px;left:282px;}
.colorpicker_hsb_h.colorpicker_focus {background-position:0 -458px;}
.colorpicker_hsb_h.colorpicker_slider {background-position:0 -480px;}
.colorpicker_hsb_s {background:url("../../images/colorpicker_sprites.png") no-repeat top left;background-position:0 -552px;width:62px;height:22px;top:82px;left:282px;}
.colorpicker_hsb_s.colorpicker_focus {background-position:0 -574px;}
.colorpicker_hsb_s.colorpicker_slider {background-position:0 -596px;}
.colorpicker_hsb_b {background:url("../../images/colorpicker_sprites.png") no-repeat top left;background-position:0 -320px;width:62px;height:22px;top:112px;left:282px;}
.colorpicker_hsb_b.colorpicker_focus {background-position:0 -342px;}
.colorpicker_hsb_b.colorpicker_slider {background-position:0 -364px;}
.colorpicker_submit {position:absolute;width:22px;height:22px;background-position: 0 -1336px;left:322px;top:142px;overflow:hidden;}
.colorpicker_submit.colorpicker_focus {background-position:0 -1358px}

.jcrop-holder { text-align: left; }
.jcrop-vline, .jcrop-hline{font-size: 0;position: absolute;background:white url("../../images/Jcrop.gif") top left repeat;}
.jcrop-vline{height:100%;width:1px !important;}
.jcrop-hline{width:100%;height:1px !important;}
.jcrop-vline.right {right:0px;}
.jcrop-hline.bottom {bottom:0px;}
.jcrop-handle {font-size:1px;width:10px !important;height:10px !important;border:1px #eee solid;background-color:#333;*width:9px;*height:9px;}
.jcrop-tracker {width:100%;height:100%;}
.custom .jcrop-vline, .custom .jcrop-hline{background: yellow;}
.custom .jcrop-handle{border-color:black;background-color:#C7BB00;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}

.ui-helper-hidden{display:none;}
.ui-helper-hidden-accessible{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}
.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.ui-helper-clearfix{display:inline-block;}
* html .ui-helper-clearfix{height:1%;}
.ui-helper-clearfix{display:block;}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}
.ui-state-disabled{cursor:default !important;}
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;width:16px;height:16px;background-image:url("../../images/icon_sprites.png");background-color:transparent;background-repeat:no-repeat;}
.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%;}
.ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em;}
.ui-widget .ui-widget{font-size:1em;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:Verdana,Arial,sans-serif;}
.ui-widget textarea{font-size:0.7em;}
.ui-widget-content{border:1px solid #aaaaaa;background-color:#ffffff;color:#222222;}
.ui-widget-header{border:1px solid #aaaaaa;background-color:#e9e9e9;color:#222222;font-weight:bold;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border:1px solid transparent;background-color:transparent;font-weight:normal;color:#555555;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#555555;text-decoration:none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{border:1px solid #999999;background-color:#dadada;font-weight:normal;color:#212121;}
.ui-state-hover a, .ui-state-hover a:hover{color:#212121;text-decoration:none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border:1px solid #aaaaaa;background-color:#ffffff;font-weight:normal;color:#212121;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#212121;text-decoration:none;}
.ui-widget:active{outline:none;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{border:1px solid #fcefa1;background-color:#fbf9ee;color:#363636;}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636;}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background-color:#fef1ec;color:#cd0a0a;}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a{color:#cd0a0a;}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text{color:#cd0a0a;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none;}
.ui-icon-triangle-1-e{background-position:0 -384px;}
.ui-icon-triangle-1-s{background-position:0 -352px;}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;-khtml-border-top-left-radius:4px;border-top-left-radius:4px;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;-khtml-border-top-right-radius:4px;border-top-right-radius:4px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;-khtml-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;-khtml-border-bottom-right-radius:4px;border-bottom-right-radius:4px;}
.ui-widget-overlay{background-color:#aaaaaa;opacity:.30;filter:Alpha(Opacity=30);}
.ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background-color:#aaaaaa;opacity:.30;filter:Alpha(Opacity=30);-moz-border-radius:8px;-khtml-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted black;}
.ui-accordion{width:100%;}
.ui-accordion .ui-accordion-header{cursor:pointer;position:relative;margin-top:1px;zoom:1;}
.ui-accordion .ui-accordion-li-fix{display:inline;}
.ui-accordion .ui-accordion-header-active{border-bottom:0 !important;}
.ui-accordion .ui-accordion-header a{display:block;font-size:1em;padding:.5em .5em .5em .7em;}
.ui-accordion-icons .ui-accordion-header a{padding-left:2.2em;}
.ui-accordion .ui-accordion-header .ui-icon{position:absolute;left:.5em;top:50%;margin-top:-8px;}
.ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;margin-top:-2px;position:relative;top:1px;margin-bottom:2px;overflow:auto;display:none;zoom:1;}
.ui-accordion .ui-accordion-content-active{display:block;}
.ui-button{display:inline-block;position:relative;padding:0;margin-right:.1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
.ui-button-cancel{border:none !important;background:none !important;}
.ui-button-cancel span{text-decoration:underline;}
.ui-button-icon-only{width:2.2em;}
button.ui-button-icon-only{width:2.4em;}
.ui-button-icons-only{width:3.4em;}
button.ui-button-icons-only{width:3.7em;}
.ui-button .ui-button-text{display:block;line-height:1.4;}
.ui-button-text-only .ui-button-text{padding:.4em 1em;}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px;}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em;}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em;}
.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em;}
input.ui-button{padding:.4em 1em;}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px;}
.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px;}
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary{left:.5em;}
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary{right:.5em;}
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary{right:.5em;}
.ui-buttonset{margin-right:7px;}
.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em;}
button.ui-button::-moz-focus-inner{border:0;padding:0;}
.ui-dialog{position:absolute;padding:.2em;width:300px;overflow:hidden;}
.ui-dialog .ui-dialog-titlebar{padding:.4em 0.5em;position:relative;}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .1em 0;}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px;}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px;}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus{padding:0;}
.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em;background:none;overflow:auto;zoom:1;}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}
.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer;}
.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px;}
.ui-draggable .ui-dialog-titlebar{cursor:move;}
.ui-tabs{position:relative;padding:0;zoom:1;}
.ui-tabs .ui-tabs-nav{margin:0;padding:0 0.5em 0;}
.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:1px;margin:0 .2em 1px 0;border-bottom:0 !important;padding:0;white-space:nowrap;}
.ui-tabs .ui-tabs-nav li a{float:left;padding:.25em 1em;text-decoration:none;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{margin-bottom:0;padding-bottom:1px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:text;}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer;}
.ui-tabs .ui-tabs-panel{display:block;border-width:0;padding:1em 1.4em;background:none;}
.ui-tabs .ui-tabs-hide{display:none !important;}

.tipsy{padding:5px;font-size:10px;opacity:0.8;filter:alpha(opacity=80);background-repeat:no-repeat;background-image:url("../../images/tipsy.png");}
.tipsy-inner{border-top:1px solid #F6F6F6;border-left:1px solid #F6F6F6;border-right:1px solid #F6F6F6;padding:5px 8px 4px 8px;background-color:black;color:white;max-width:200px;text-align:center;}
.tipsy-inner{-moz-border-radius:3px;-webkit-border-radius:3px;}
.tipsy-north{background-position:top center;}
.tipsy-south{background-position:bottom center;}
.tipsy-east{background-position:right center;}
.tipsy-west{background-position:left center;}
