<style type="text/css">
#general-base{margin-top:20px;}
#map-api p{font-size:0.75em;}
#map-api dl{font-size:0.75em;}
#map-api dt{font-weight:bold;}
#map-api dd{margin-bottom:1.5em;}
#map-api span.api-format{display:block;}
#map-api div.general-base-ws{min-width:700px;}
.long-url{word-wrap: break-word;}
</style>
<div id="map-api">
  <div id="general-api" class="panel">
    <p>{% trans "A simple, restful API may be used with Internet accessible, tab-separated text files, a collection of coordinates, or by sending files with additional parameters outlined below. A Web Feature Service (WFS) and a Web Map Service (WMS) are also available for vector- and raster-based layers, respectively." %}</p>
  </div>
  <h3>RESTful API</h3>
  {% set url = [swagger.schemes.0, swagger.host]|join('://') %}
  {% set api_file = url ~ "/public/files/demo.txt" %}
  <p><em>e.g.</em> <span class="long-url">{{ url }}/api/?url={{ api_file|url_encode }}&amp;shape[0]=square&amp;size[0]=10&amp;color[0]=20,20,20&amp;shape[1]=triangle&amp;size[1]=10&amp;color[1]=40,40,40&amp;shape[2]=star&amp;size[2]=14&amp;color[2]=60,60,60&amp;width=500&amp;height=300&amp;bbox=-130,40,-60,50&amp;layers=lakes,stateprovinces&amp;graticules=true&amp;projection=esri:102009&amp;legend=true&amp;shade[places]=Alberta,USA[MT|WA]&amp;shade[title]=Selected Regions&amp;shade[color]=150,150,150</span></p>
  <p><strong>{% trans "Produces" %}</strong></p>
  <p><img src="{{ url }}/public/images/api.png" width="500" height="300" alt="{% trans "My Map" %}" /></p>

  <p>{% trans "Send GET or POST requests using the Base URL and Parameters below. A POST request returns a HTTP 303 redirect to a URL for the map image. If you elect not to follow the redirect, JSON is returned in which you can find this same URL." %}</p>

  <div class="header">
    <h2>{% trans "Base URL" %}</h2>
  </div>

  <div id="general-base" class="panel">
    <p>{{ url }}/api</p>
  </div>

  <div class="header">
    <h2>{% trans "Parameters" %}</h2>
  </div>

  <dl>
    {% for params in swagger.paths["/api"].post.parameters -%}
    <dt>{{ params.name }}</dt>
    <dd>{{ params.description }}<span class="api-format">Type: {{ params.type }}</span>
    </dd>
    {% endfor -%}
  </dl>

  <h3>OpenAPI Specification</h3>
  {% set oai_url = '<a href="https://www.openapis.org/">https://www.openapis.org/</a>' %}
  <p>{% trans %}SimpleMappr exposes its API via the Open API Initiative (OAI), {{ oai_url }} based on the OpenAPI Specification, formerly kmown as Swagger. The definition can be found at <a href="{{ url }}/swagger.json">{{ url }}/swagger.json</a>.{% endtrans %}</p>

  <h3>Web Feature Service (WFS)</h3>

  <div class="panel general-base-ws">
    <p>{{ url }}/wfs/?SERVICE=WFS&amp;VERSION=1.0.0&amp;REQUEST=GetCapabilities</p>
  </div>

  <h3>Web Map Service (WMS)</h3>

  <div class="panel general-base-ws">
    <p>{{ url }}/wms/?SERVICE=WMS&amp;VERSION=1.1.1&amp;REQUEST=GetCapabilities</p>
  </div>

  <h3>Ruby Gem</h3>
  {% set github_url = '<a href="https://github.com/dshorthouse/simple-mappr">https://github.com/dshorthouse/simple-mappr</a>' %}
  <p>{% trans %}Documentation found on the simple-mappr GitHub repository, {{ github_url }}{% endtrans %}</a>.
  <div class="panel general-base-ws">
    <p>$ gem install simple-mappr</p>
  </div>

</div>