<?php
// MySQL server
DEFINE('DB_SERVER', "127.0.0.1");

// MySQL login name
DEFINE('DB_USER', "root");

// MySQLlogin password
DEFINE('DB_PASS', "");

// MySQL database name
DEFINE('DB_DATABASE', "simplemappr");

// Redis server
DEFINE('REDIS_SERVER', "127.0.0.1");
?>
