<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../Tests/bootstrap.php" colors="true">
    <php>
        <const name="TRAVIS_CI" value="true"/>
        <const name="DB_SERVER" value="localhost"/>
        <const name="DB_DATABASE" value="simplemappr_test"/>
        <const name="DB_USER" value="root"/>
        <const name="DB_PASS" value=""/>
        <const name="WEB_SERVER" value="www.simplemappr.local"/>
        <const name="REDIS_SERVER" value="localhost"/>
        <const name="MAPPR_MAPS_URL" value="/public/tmp"/>
    </php>

    <testsuites>
        <testsuite name="SimpleMappr Test Suite">
            <directory>../Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <file>./Tests/DatabaseTest.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>