<option value="">{% trans "--select--" %}</option>
{% for key,value in marker_shapes %}
    {% if key == "general" %}
        {% for key1,value1 in value %}
        <option value="{{ key1 }}">{{ value1['name']|trans }}</option>
        {% endfor %}
    {% endif %}
    {% if key == "closed" %}
    <optgroup label='{% trans "solid" %}'>
        {% for key1,value1 in value %}
        <option value="{{ key1 }}">{{ value1['name']|trans }}</option>
        {% endfor %}
    </optgroup>
    {% endif %}
    {% if key == "open" %}
    <optgroup label='{% trans "open" %}'>
        {% for key1,value1 in value %}
        <option value="{{ key1 }}">{{ value1['name']|trans }}</option>
        {% endfor %}
    </optgroup>
    {% endif %}
{% endfor %}