{% for i in 0..2 %}
    {% set index = loop.index %}
     <div class="form-item fieldset-points"> 
     <button class="sprites-before removemore negative ui-corner-all" data-type="coords">{% trans "Remove" %}</button>
     <h3><a href="#">{% trans %}Layer {{ index }}{% endtrans %}</a></h3>
     <div>
     <div class="fieldset-taxon">
     <span class="fieldset-title">{% trans "Legend" %}<span class="required">*</span>:</span> <input type="text" class="m-mapTitle" size="40" maxlength="40" name="coords[{{ i }}][title]" />
     </div>
     <div class="resizable-textarea">
     <span><textarea class="resizable m-mapCoord" rows="5" cols="60" name="coords[{{ i }}][data]"></textarea></span>
     </div>
     <div class="fieldset-extras">
     <span class="fieldset-title">{% trans "Shape" %}</span> <select class="m-mapShape" name="coords[{{ i }}][shape]">{% include 'fragments/fragment.marker.shape.html' %}</select> <span class="fieldset-title">{% trans "Size" %}</span> <select class="m-mapSize" name="coords[{{ i }}][size]">{% include 'fragments/fragment.marker.size.html' %}</select>
     <span class="fieldset-title">{% trans "Color" %}</span> <input class="colorPicker" type="text" size="12" maxlength="11" name="coords[{{ i }}][color]" value="0 0 0" />
     </div>
     <button class="sprites-before clear clearself negative ui-corner-all">{% trans "Clear" %}</button>
     </div>
     </div>
{% endfor %}