<div id="map-admin">
    <div class="header">
        <h2>{% trans "Tools" %}</h2>
    </div>
    <ul class="fieldSets">
        <li><a href="#" id="flush-caches" class="admin-tool">{% trans "Flush caches" %}</a></li>
    </ul>

    <div class="header">
        <h2>API Log</h2>
    </div>
    <p id="admin-api-list"></p>

    <div class="header">
    <h2>{% trans "Citations" %}</h2>
    </div>

    <p>
    <label for="citation-reference">{% trans "Formatted reference" %}<span class="required">*</span></label>
    <textarea id="citation-reference" class="resizable citation" rows="5" cols="60" name="citation[reference]"></textarea>
    </p>

    <p>
    <label for="citation-surname">{% trans "Author surname" %}<span class="required">*</span></label>
    <input type="text" id="citation-surname"  class="citation" name="citation[first_author_surname]" size="60" />
    </p>

    <p>
    <label for="citation-year">{% trans "Year" %}<span class="required">*</span></label>
    <input type="text" id="citation-year" class="citation" name="citation[year]" size="10" />
    </p>

    <p>
    <label for="citation-doi">{% trans "DOI" %}</label>
    <input type="text" id="citation-doi" class="citation" name="citation[doi]" size="60" />
    </p>

    <p>
    <label for="citation-link">{% trans "Link" %}</label>
    <input type="text" id="citation-link" class="citation" name="citation[link]" size="60" />
    </p>

    <p>
    <button class="sprites-before addmore positive">{% trans "Add citation" %}</button>
    <div id="admin-citations-list"></div>
</div>