<input type="radio" id="download-svg" class="download-filetype" name="download-filetype" value="svg" checked />
<label for="download-svg">svg*</label>

<input type="radio" id="download-png" class="download-filetype" name="download-filetype" value="png" />
<label for="download-png">png</label>

<input type="radio" id="download-tif" class="download-filetype" name="download-filetype" value="tif" />
<label for="download-tif">tif</label>

<input type="radio" id="download-pptx" class="download-filetype" name="download-filetype" value="pptx" />
<label for="download-pptx">pptx</label>

<input type="radio" id="download-docx" class="download-filetype" name="download-filetype" value="docx" />
<label for="download-docx">docx</label>

<input type="radio" id="download-kml" class="download-filetype" name="download-filetype" value="kml" />
<label for="download-kml">kml*</label>