    <script type="text/template" id="dialog-template">
    <div id="mapper-message" class="ui-state-error" title="{% trans "Warning" %}"></div>
    <div id="button-titles" class="hidden-message">
      <span class="save">{% trans "Save" %}</span>
      <span class="cancel">{% trans "Cancel" %}</span>
      <span class="download">{% trans "Download" %}</span>
      <span class="delete">{% trans "Delete" %}</span>
    </div>
    <div id="mapper-loading-error-message" class="hidden-message">{% trans "There was a problem loading your map." %}</div>
    <div id="mapper-saving-error-message" class="hidden-message">{% trans "There was a problem saving your map." %}</div>
    <div id="mapper-saving-message" class="hidden-message">{% trans "Saving..." %}</div>
    <div id="mapper-missing-legend" class="hidden-message">{% trans "You are missing a legend for at least one of your Point Data, Region, or Drawing layers." %}</div>
    <div id="mapper-message-delete" class="ui-state-highlight hidden-message" title="{% trans "Delete" %}">{% trans "Are you sure you want to delete" %} <span></span>?</div>
    <div id="mapper-legend-message" class="hidden-message">{% trans "legend will appear here" %}</div>
    <div id="mapper-message-help" class="ui-state-highlight hidden-message" title="{% trans "Example Coordinates" %}"></div>
    <div id="mapper-message-codes" class="ui-state-highlight hidden-message" title="{% trans "State/Province Codes" %}"></div>
    <div id="mapEmbed" class="ui-state-highlight hidden-message" title="{% trans "Embed" %}">
      <div class="header"><h2>{% trans 'Image' %}</h2></div>
      <p><input id="embed-img" type="text" size="62" value="" /></p>
      <p><strong>{% trans "Additional parameters" %}</strong>:<br><span class="indent">{% trans "width, height, legend" %} <br><em>e.g.</em> /map/<span class="mid"></span>?width=200&amp;height=150&amp;legend=true</span></p>
      <div class="header"><h2>{% trans 'KML' %}</h2></div>
      <p><input id="embed-kml" type="text" size="62" value="" /></p>
      <div class="header"><h2>{% trans 'SVG' %}</h2></div>
      <p><input id="embed-svg" type="text" size="62" value="" /></p>
      <div class="header"><h2>{% trans 'GeoJSON' %}</h2></div>
      <p><input id="embed-json" type="text" size="62" value="" /></p>
      <p><strong>{% trans "Additional parameters" %}</strong>:<br><span class="indent">{% trans "callback" %} (<em>e.g.</em> /map/<span class="mid"></span>.json?callback=myCoolCallback)</span></p>
    </div>
    <div id="badFile" title="{% trans "Unsupported file type" %}">{% trans "Only files of type text are accepted." %}</div>
    <div id="tooMuchData" title="{% trans "Too many fields of data" %}">{% trans %}A maximum of {{ num_textarea }} data fields is supported.{% endtrans %}</div>
    </script>