<input type="radio" id="download-factor-1" class="download-factor" name="download-factor" value="1" checked />
<label for="download-factor-1">1X</label>

<input type="radio" id="download-factor-3" class="download-factor" name="download-factor" value="3" />
<label for="download-factor-3">3X</label>

<input type="radio" id="download-factor-4" class="download-factor" name="download-factor" value="4" />
<label for="download-factor-4">4X</label>

<input type="radio" id="download-factor-5" class="download-factor" name="download-factor" value="5" />
<label for="download-factor-5">5X</label>