<input type="hidden" name="download" id="download" />
<input type="hidden" name="output" id="output" />
<input type="hidden" name="download_token" id="download_token" />
<input type="hidden" name="bbox_map" id="bbox_map" />
<input type="hidden" name="projection_map" id="projection_map" />
<input type="hidden" name="bbox_rubberband" id="bbox_rubberband" />
<input type="hidden" name="bbox_query" id="bbox_query" />
<input type="hidden" name="pan" id="pan" />
<input type="hidden" name="zoom_out" id="zoom_out" />
<input type="hidden" name="zoom_in" id="zoom_in" />
<input type="hidden" name="crop" id="crop" />
<input type="hidden" name="rotation" id="rotation" />
<input type="hidden" name="save[title]" id="save[title]" />
<input type="hidden" name="file_name" id="file_name" />
<input type="hidden" name="download_factor" id="download_factor" />
<input type="hidden" name="width" id="width" />
<input type="hidden" name="height" id="height" />
<input type="hidden" name="download_filetype" id="download_filetype" />
<input type="hidden" name="grid_space" id="grid_space" />
<input type="hidden" name="options[border]" id="options[border]" />
<input type="hidden" name="options[legend]" id="options[legend]" />
<input type="hidden" name="options[scalebar]" id="options[scalebar]" />
<input type="hidden" name="options[scalelinethickness]" id="options[scalelinethickness]" />
<input type="hidden" name="border_thickness" id="border_thickness" value="" />
<input type="hidden" name="rendered_bbox" id="rendered_bbox" value="" />
<input type="hidden" name="rendered_rotation" id="rendered_rotation" value="" />
<input type="hidden" name="rendered_projection" id="rendered_projection" value="" />
<input type="hidden" name="legend_url" id="legend_url" value="" />
<input type="hidden" name="scalebar_url" id="scalebar_url" value="" />
<input type="hidden" name="bad_points" id="bad_points" value="" />
<input type="hidden" name="bad_drawings" id="bad_drawings" value="" />